* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  transform-style: preserve-3d;
}

#game {
  position: relative;
  top: 50%;
  transform: translateY(-50%)
}

#game canvas {
  display: block;
  margin: auto;
}

