* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  transform-style: preserve-3d;
}

canvas {
  display: block;
  position: relative;
  margin: auto;
  top: 50%;
  transform: translateY(-50%)
}

